/* about me section */
.profile-image {
  border: solid thin #f8256b;
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  margin-top: 20px;

}



.about{
  color:#3e6c20;
}

.about:hover{
  color:#3e6c20;
  border: 1.5px solid #3e6c20;
}


.about-me-header {
  color: #fd7223;
}
.about-me p {
  background-color: white;
  color: black;
  padding: 1rem 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 0 2%;
}
.text-1 {
  word-spacing: 8px;
}




.icons {
  max-width: 10px;
  margin-top: 10px;
}


/* Case study items */

@media only screen and (max-width: 1024px) {
  .profile-image {
    width: 30% !important;
  }
  .about-me p {
    font-size: 1rem;
    padding: 1rem 2rem;
    /* flex-direction: column; */
  }
}
@media only screen and (max-width: 1024px) {
 
}

@media only screen and (max-width: 990px) {

  .profile-image {
    width: 30% !important;
  }
  .about-me {
    gap: 0rem !important;
  }
  .about-me p {
    font-size: 0.4rem !important;
    word-spacing: 0.1rem;
    padding: 0.5rem 0.8rem;
    margin-left: 1rem;
  }
}