/* about me section */
.profile-image {
  border: solid thin #f8256b;
  border-radius: 50%;
  width: 300px;
  height: auto;
  margin-bottom: 50px;
  margin-top: 20px;

}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  gap: 2rem;
  width: 100%;
  padding: 2rem 2%;
  word-spacing: 8px;
}

.about{
  color:#3e6c20;
}

.about:hover{
  color:#3e6c20;
  border: 1.5px solid #3e6c20;
}


.about-me-header {
  color: #fd7223;
}
.about-me p {
  background-color: white;
  color: black;
  padding: 1rem 4rem;
  width: 90%;
  display: flex;
  justify-content: center;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 0 2%;
}
.text-1 {
  word-spacing: 8px;
}

/* Case study items */

@media only screen and (max-width: 1024px) {
  .profile-image {
    width: 30% !important;
  }
  .about-me p {
    font-size: 1rem;
    padding: 1rem 2rem;
    /* flex-direction: column; */
  }
}
@media only screen and (max-width: 1024px) {
  .shruthi-dot {
    top: -0.7rem !important;
    height: 0.6rem !important;
    transform: translateY(10%) !important;
  }
}

@media only screen and (max-width: 990px) {
  .dots-wrapper {
    gap: 0rem !important;
    margin: 0 1rem !important;
  }
  .dots-wrapper .dot {
    margin-bottom: 0.4rem;
  }
  .i-am {
    gap: 0.2rem !important;
  }
  .shruthi-dot {
    margin-bottom: 0.2rem;
    height: 0.35rem !important;
  }

  .profile-image {
    width: 30% !important;
  }
  .about-me {
    gap: 0rem !important;
  }
  .about-me p {
    font-size: 0.4rem !important;
    word-spacing: 0.1rem;
    padding: 0.5rem 0.8rem;
    margin-left: 1rem;
    /* flex-direction: column; */
  }
}

