/* General Styles */
.page-border {
border: 2px solid black;
border-radius: 30px;
margin-top: 15px;
margin-bottom:30px; 
margin-left:23px; 
margin-right:20px;
height: 3320px;
max-width: 1222px; 
}

body {
  cursor: none;
}

.cursor {
  position: fixed;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  pointer-events: none;
  left: -100px; 
  top: -100px; 
  mix-blend-mode: difference;
  background-color: transparent;
  z-index: 100;
  border: 2px solid black;
  height: 50px; 
  width: 50px; 
  transition: all 0.1s ease-out; 
}

.cursor.enlarged {
  height: 100px; 
  width: 100px; 
}

.marquee {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

body {
  background: url("../Images/Background offwhite colour.png") center center fixed;
  background-size: cover;
}

 

.text-2 { 
  white-space: collapse;
  text-wrap: nowrap;
  display: inline-block;
  overflow: hidden; 
  font-style: italic; 
  font-size: 180px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
 margin-top: 310px;
}


@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}

.marquee span {
  display: inline-block;
  animation: marquee 100s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(-100%);
  }
}


/* Navigation Bar Styles */

.dashed-border {
  position: absolute;
  width: 91%;
  height: 65px;
  margin-left: 35px;
  top: 7%;
  background:white;
  color: black;
  border-radius: 50px;
  border: dashed 1.5px;
}

.Nav {
  margin-right: 2%;
  margin-top: 0.6%;
}


.topnav-item-2 {
  display: flex;
  justify-content: flex end;
  align-items: center;
  margin-top: -29px;
  margin-left: 890px;
  border: soild;
}

.topnav-item-2 a {
  color: #f8256b;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: white;
  border-radius: 30px;
  border:#f8256b solid;
}

.topnav-item-2 a:hover {
  border-radius: 30px;
  border: #ff66c4 solid;
  color:#f8256b;
  background-color:#f4f1ea;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}




.logo-small {
  width: 100px;
  height: 55px;
  margin-top: -100px;
  margin-bottom: 8px;
  margin-left: 20px; 
  border-radius: 10px;
  border: none;
}


.Navbut {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 13px;
}

.Navbut a {
  color:#ffd359;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: black;
  border-radius: 30px;
}

.Navbut a:hover {
  background-color: black;
  border-radius: 30px;
  color:#fd7223;
}

.Navbut a.active {
  color: black;
  border-radius: 30px;
}



/* Circular boxes */

.circular-box-1,
.circular-box-2 {
  position: absolute;
  width: 91%;
  height: 65px;
  background: black;
  color: black;
  border-radius: 50px;
  margin-left: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.circular-box-text-1,
.circular-box-text-2 {
  margin-left: 4px;
  margin-top: 33px;
  margin-bottom: 10px;
  font-size: 28px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  color:#ffde59;
}

/* Images */

.hero-photo {
  width: 105%;
  height: auto;
  margin-top: 200px;
  padding-left: 30px;
  padding-right: 20px;
  border: transparent;
  border-radius: 30px;
}

.large-tag.hello {
  position: absolute;
}

.large-tag{
  width: 15ch;
  height: 5ch;
  border: 2px solid black;
  border-radius: 100px;
  margin-left: 150px;
  margin-top: -180px;
  justify-content: center;
  align-items: center;
  padding: .5ch .75ch;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 4vw;
  font-weight: 400;
  line-height: 100%;
  display: flex;
}

*{
  box-sizing: border-box;
}

div{
  unicode-bidi: isolate;
}


.profile-image {
  border: solid thin #f8256b;
  border-radius: 50%;
  margin-top: 250px;
  margin-left: 80px;
  width: 300px;
  height: auto;
}

.about-me {
  display: flex;
  justify-content: center;
  margin-top: -310px;
  margin-left: 440px;
  margin-right: 45px;
  font-size: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color:white;
  
}

.text-1 {
  word-spacing: 8px;
  margin-top: -20px;
}

.circular-box-1 {
margin-top: -800px;
}

.circular-box-2 {
margin-top: -120px;
}


/* Case study items */

.case-study-list-item-1,
.case-study-list-item-2,
.case-study-list-item-3,
.case-study-list-item-4 {
  border: dashed 1.5px black;
  border-radius: 30px;
  background-color:white;
  width: 93.2%;
  height: 130px;
  margin-left: 39.2px;
  transition: all 0.3s;
  
}

a {
  text-decoration: none;
  color: black;
}

.case-study-list-item-1 {
margin-top: 300px;
color:#0b82e4;
}


.case-study-list-item-2 {
  margin-top: 20px;
  color:#ff66C4;
}

.case-study-list-item-3 {
  margin-top: 20px;
  color:#fd7223;
}

.case-study-list-item-4 {
  margin-top: 20px;
  color:#ab2ccb;
}

.case-study-list-item-1:hover {
  border: solid 1.5px #0b82e4;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-list-item-1:hover::after {
  content: url('../Images/6.png'); 
  position: absolute;
  right:200px;
  height: 290px;
  border: 1px solid #0b82e4;
  border-radius: 30px; 
  overflow: hidden;
}

.case-study-list-item-2:hover {
  border: solid 1.5px #ff66C4;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
.case-study-list-item-2:hover::after {
  content: url(../Images/5.png);
  position:absolute;
  right:200px;
  height: 290px;
  border: 1px solid #ff66C4;
  border-radius: 30px; 
  overflow: hidden;
}

.case-study-list-item-3:hover {
  border: solid 1.5px #fd7223;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-list-item-3:hover::after {
  content: url(../Images/8.png);
  position:absolute;
  right:200px;
  height: 290px;
  border: 1px solid #fd7223;
  border-radius: 30px; 
  overflow: hidden;
}

.case-study-list-item-4:hover {
  border: solid 1.5px #ab2ccd;
  background-color: #f4f1ea;
  border-radius: 250px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}

.case-study-list-item-4:hover::after {
  content: url(../Images/7.png);
  position:absolute;
  right:200px;
  height: 290px;
  border: 1px solid #ab2ccb;
  border-radius: 30px; 
  overflow: hidden;
}


.case-study-list-text-1,
.case-study-list-text-2,
.case-study-list-text-3,
.case-study-list-text-4 {
  margin-top: 40px;
  margin-bottom: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 35px;
  font-weight: bold;
  margin-left: 15px;
}


.case-study-list-text-1 {
color:#0b82e4;
}

.case-study-list-text-2 {
  color:#ff66C4;
  }
  
.case-study-list-text-3 {
  color: #fd7223;
}
.case-study-list-text-4 {
  color:#ab2ccb;
}


/* Case study tags */

.tag-1,
.tag-2,
.tag-3,
.tag-4,
.tag-5,
.tag-6,
.tag-7,
.tag-8,
.tag-9,
.tag-10,
.tag-11,
.tag-12,
.tag-13,
.tag-14,
.tag-15 {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  margin-left: 15px;
  margin-top: -25px;
  display: flex;
  justify-content: center;
}


.tag-1 {
  margin-left: 85%;
  border: solid 1.5px #0b82e4;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-2 {
  margin-left: 72%;
  border: solid 1.5px #0b82e4;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-3 {
  margin-left: 56%;
  border: solid 1.5px  #0b82e4;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-4 {
  margin-left: 40%;
  border: solid 1.5px #0b82e4;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}


.tag-5 {
  margin-left: 85%;
  border: solid 1.5px #ff66C4;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-6 {
  margin-left: 72%;
  border: solid 1.5px #ff66C4;
  border-radius: 30px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-7 {
  margin-left: 56%;
  border: solid 1.5px #ff66C4;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}


.tag-8 {
  margin-left: 40%;
  border: solid 1.5px #ff66C4;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-9 {
  margin-left: 85%;
  border: solid 1.5px #fd7223;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-10 {
  margin-left: 70%;
  border: solid 1.5px #fd7223;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-11 {
  margin-left: 85%;
  border: solid 1.5px #ab2ccd;
  border-radius: 30px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-12 {
  margin-left: 70%;
  border: solid 1.5px #ab2ccd;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-13 {
  margin-left: 55%;
  border: solid 1.5px #ab2ccd;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.tag-14 {
  margin-left: 40%;
  border: solid 1.5px #ab2ccd;
  border-radius: 30px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
}



.description {
    display: flex;
    justify-content: center;
    margin-top: 250px;
    margin-right: 440px;
    margin-left: 45px;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color:white;
}

.thick-line-3 {
  max-width: 1222px;
  height: 5px;
  margin-top: -210px;
  background-color: black;
}

.thick-line-4 {
  max-width: 1222px;
  height: 4px;
  margin-top: 240px;
  background-color: black;
}



.animated-circle-1 {
 width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: white;
  animation: spin 10s linear infinite;
  background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
  margin-top: -200px;
 float: right;
 margin-right: 20px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.text-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1136px;
  margin-top: -138px;
  padding: 5px 20px;
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color:white;
  width: 50px;
  height: 20px;
  border-radius:  10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  }
  
  .text-4 a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
  .text-4 a:hover {
    text-decoration: underline;
  }
  
  
  
.animated-circle-2 {
width: 120px;
height: 120px;
border-radius: 50%;
background-color:white;
animation: spin 10s linear infinite;
background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
margin-top: -200px;
float: right;
margin-right: 290px;

}
 

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.text-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 865px;
  padding: 5px 20px;
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color:white;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  }
  
  .text-5 a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
  .text-5 a:hover {
    text-decoration: underline;
  }

  .animated-circle-3 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color:white;
    animation: spin 10s linear infinite;
    background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
    margin-top: -200px;
    float: right;
    margin-right: 155px;
    
    }
     
    
    @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
    

   .text-6 {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 1000px;
     margin-top: -31px;
     padding: 5px 20px;
     text-decoration: none;
     color:black;
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     background-color:white;
     width: 50px;
     height: 20px;
     border-radius:  10px;
     transform: translate(-50%, -50%);
     overflow: hidden;
     text-align: center;
     }
     
     .text-6 a {
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       font-size: 20px;
       font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     }
     
     .text-6 a:hover {
       text-decoration: underline;
     }
     



.text-3 { 

  white-space: collapse;
  text-wrap: nowrap;
  display: inline-block;
  overflow: hidden; 
  font-style: italic;  
  font-size: 180px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
 margin-top: 100px;

}


@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}




/* Footer */
.footer {
  box-sizing: border-box;
  background:white;
  border: dashed 1.5px;
  color: black;
  border-radius: 50px;
  width: 95%;
  height: 65px;
  margin-top: 10px;
  margin-left: 30px;
}

.footer-text {
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  margin-left: 50px;
  margin-top: 22px;
}




















@media screen and (min-width : 1281px) {
  .page-border {
    border: 2px solid black;
    border-radius: 30px;
    margin-top: 20px; 
    margin-bottom:20px; 
    margin-left:23px; 
    margin-right:20px;
    height: 4050px;
    max-width: 2500px; 
    }
    
    
    .marquee {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
    }
    
    body {
      background: url("../Images/Background offwhite colour.png") center center fixed;
      background-size: cover;
    }
    
     
    
    .text-2 { 
      white-space: collapse;
      text-wrap: nowrap;
      display: inline-block;
      overflow: hidden; 
      font-style: italic; 
      font-size: 200px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     margin-top: 490px;
    }
    
    
    @keyframes moveText {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100vw);
      }
    }
    
    .marquee span {
      display: inline-block;
      animation: marquee 100s linear infinite;
    }
    
    @keyframes marquee {
      0% {
        transform: translateX(100vw);
      }
    
      100% {
        transform: translateX(-100%);
      }
    }
    
    
    /* Navigation Bar Styles */
    
    .dashed-border {
      position: absolute;
      width: 94%;
      height: 65px;
      margin-left: 35px;
      top: 5%;
      background:white;
      color: black;
      border-radius: 50px;
      border: dashed 1.5px;
    }
    
    .Nav {
      margin-right: 2%;
      margin-top: 0.6%;
    }
    
    
    .topnav-item-2 {
      display: flex;
      justify-content: flex end;
      align-items: center;
      margin-top: -30px;
      margin-left: 85.5%;
      border: soild;
    }
    
    .topnav-item-2 a {
      color: #f8256b;
      padding: 5px 20px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      background-color: white;
      border-radius: 30px;
      border:#f8256b solid;
    }
    
    .topnav-item-2 a:hover {
      border-radius: 30px;
      border: #ff66c4 solid;
      color:#f8256b;
      background-color:#f4f1ea;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    
    
    
    .logo-small {
      width: 110px;
      height: 62px;
      margin-top: -100px;
      margin-bottom: 6px;
      margin-left: 20px; 
      border-radius: 10px;
      border: none;
    }
    
    
    .Navbut {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 10px;
    }
    
    .Navbut a {
      color:#ffd359;
      padding: 5px 20px;
      text-decoration: none;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      background-color: black;
      border-radius: 30px;
    }
    
    .Navbut a:hover {
      background-color: black;
      border-radius: 30px;
      color:#fd7223;
    }
    
    .Navbut a.active {
      color: black;
      border-radius: 30px;
    }
    
    
    
    /* Circular boxes */
    
    .circular-box-1,
    .circular-box-2 {
      position: absolute;
      width: 94%;
      height: 65px;
      background: black;
      color: black;
      border-radius: 50px;
      margin-left: 35px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .circular-box-text-1,
    .circular-box-text-2 {
      margin-left: 4px;
      margin-top: 33px;
      margin-bottom: 10px;
      font-size: 28px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      color:#ffde59;
    }
    
    /* Images */
    
    .hero-photo {
      width: 105%;
      height: auto;
      margin-top: 300px;
      padding-left: 30px;
      padding-right: 20px;
      border: transparent;
      border-radius: 30px;
    }
    
    .large-tag.hello {
      position: absolute;
    }
    
    .large-tag{
      width: 18ch;
      height: 5ch;
      border: 2px solid black;
      border-radius: 100px;
      margin-left: 150px;
      margin-top: -300px;
      justify-content: center;
      align-items: center;
      padding: .5ch .75ch;
      font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      font-size: 4vw;
      font-weight: 400;
      line-height: 100%;
      display: flex;
    }
    
    *{
      box-sizing: border-box;
    }
    
    div{
      unicode-bidi: isolate;
    }
    
    
    
    .profile-image {
      border: solid thin #f8256b;
      border-radius: 50%;
      margin-top: 500px;
      margin-left: 100px;
      width: 400px;
      height: auto;
    }
    
    .about-me {
      margin-top: -350px;
      margin-left: 600px;
      margin-right: 60px;
      font-size: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      background-color:white;
      
    }
    
    .text-1 {
      word-spacing: 8px;
      margin-top: -20px;
    }
    
    .circular-box-1 {
    margin-top: -900px;
    }
    
    .circular-box-2 {
    margin-top: -120px;
    }
    
    
    /* Case study items */
    
    .case-study-list-item-1,
    .case-study-list-item-2,
    .case-study-list-item-3,
    .case-study-list-item-4 {
      border: dashed 1.5px black;
      border-radius: 30px;
      background-color:white;
      width: 95.5%;
      height: 130px;
      margin-left: 39.2px;
      transition: all 0.3s;
      
    }
    
    a {
      text-decoration: none;
      color: black;
    }
    
    .case-study-list-item-1 {
    margin-top: 300px;
    color:#0b82e4;
    }
    
    
    .case-study-list-item-2 {
      margin-top: 20px;
      color:#ff66C4;
    }
    
    .case-study-list-item-3 {
      margin-top: 20px;
      color:#fd7223;
    }
    
    .case-study-list-item-4 {
      margin-top: 20px;
      color:#ab2ccb;
    }
    
    .case-study-list-item-1:hover {
      border: solid#0b82e4;
      background-color: #f4f1ea;
      border-radius: 250px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .case-study-list-item-1:hover::after {
      content: url('../Images/6.png'); 
      position: absolute;
      right:200px;
      height: 290px;
      border: 1px solid #0b82e4;
      border-radius: 30px; 
      overflow: hidden;
    }
    
    .case-study-list-item-2:hover {
      border: solid#ff66C4;
      background-color: #f4f1ea;
      border-radius: 250px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    .case-study-list-item-2:hover::after {
      content: url(../Images/5.png);
      position:absolute;
      right:200px;
      height: 290px;
      border: 1px solid #ff66C4;
      border-radius: 30px; 
      overflow: hidden;
    }
    
    .case-study-list-item-3:hover {
      border: solid #fd7223;
      background-color: #f4f1ea;
      border-radius: 250px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .case-study-list-item-3:hover::after {
      content: url(../Images/8.png);
      position:absolute;
      right:200px;
      height: 290px;
      border: 1px solid #fd7223;
      border-radius: 30px; 
      overflow: hidden;
    }
    
    .case-study-list-item-4:hover {
      border: solid #ab2ccd;
      background-color: #f4f1ea;
      border-radius: 250px;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    }
    
    .case-study-list-item-4:hover::after {
      content: url(../Images/7.png);
      position:absolute;
      right:200px;
      height: 290px;
      border: 1px solid #ab2ccb;
      border-radius: 30px; 
      overflow: hidden;
    }
    
    
    .case-study-list-text-1,
    .case-study-list-text-2,
    .case-study-list-text-3,
    .case-study-list-text-4 {
      margin-top: 40px;
      margin-bottom: 25px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      font-size: 35px;
      font-weight: bold;
      margin-left: 15px;
    }
    
    
    .case-study-list-text-1 {
    color:#0b82e4;
    }
    
    .case-study-list-text-2 {
      color:#ff66C4;
      }
      
    .case-study-list-text-3 {
      color: #fd7223;
    }
    .case-study-list-text-4 {
      color:#ab2ccb;
    }
    
    
    /* Case study tags */
    
    .tag-1,
    .tag-2,
    .tag-3,
    .tag-4,
    .tag-5,
    .tag-6,
    .tag-7,
    .tag-8,
    .tag-9,
    .tag-10,
    .tag-11,
    .tag-12,
    .tag-13,
    .tag-14,
    .tag-15 {
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      margin-top: -25px;
      display: flex;
      justify-content: center;
    }
    
    
    .tag-1 {
      margin-left: 90%;
      border: solid 1.5px #0b82e4;
      border-radius: 30px;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-2 {
      margin-left: 82%;
      border: solid 1.5px #0b82e4;
      border-radius: 30px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-3 {
      margin-left: 72.5%;
      border: solid 1.5px  #0b82e4;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-4 {
      margin-left: 63%;
      border: solid 1.5px #0b82e4;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    .tag-5 {
      margin-left: 90%;
      border: solid 1.5px #ff66C4;
      border-radius: 30px;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-6 {
      margin-left: 82%;
      border: solid 1.5px #ff66C4;
      border-radius: 30px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-7 {
      margin-left: 72.5%;
      border: solid 1.5px #ff66C4;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    .tag-8 {
      margin-left: 63%;
      border: solid 1.5px #ff66C4;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-9 {
      margin-left: 90%;
      border: solid 1.5px #fd7223;
      border-radius: 30px;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-10 {
      margin-left: 81%;
      border: solid 1.5px #fd7223;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-11 {
      margin-left: 90%;
      border: solid 1.5px #ab2ccd;
      border-radius: 30px;
      width: 110px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-12 {
      margin-left: 81%;
      border: solid 1.5px #ab2ccd;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-13 {
      margin-left: 71.5%;
      border: solid 1.5px #ab2ccd;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .tag-14 {
      margin-left: 62%;
      border: solid 1.5px #ab2ccd;
      border-radius: 30px;
      width: 150px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
    }
    
    
    
    .description {
        display: flex;
        justify-content: center;
        margin-top: 250px;
        margin-right: 440px;
        margin-left: 45px;
        font-size: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        background-color:white;
    }
    
    .thick-line-3 {
      max-width: 2001px;
      height: 5px;
      margin-top: -210px;
      background-color: black;
    }
    
    .thick-line-4 {
      max-width: 2001px;
      height: 4px;
      margin-top: 240px;
      background-color: black;
    }
    
    
    
    .animated-circle-1 {
     width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: white;
      animation: spin 10s linear infinite;
      background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
      margin-top: -200px;
     float: right;
     margin-right: 20px;
    }
    
    @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
    
    .text-4 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1920px;
      margin-top: -138px;
      padding: 5px 20px;
      text-decoration: none;
      color:black;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      background-color:white;
      width: 50px;
      height: 20px;
      border-radius:  10px;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      }
      
      .text-4 a {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      }
      
      .text-4 a:hover {
        text-decoration: underline;
      }
      
      
      
    .animated-circle-2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color:white;
    animation: spin 10s linear infinite;
    background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
    margin-top: -200px;
    float: right;
    margin-right: 290px;
    
    }
     
    
    @keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
    }
    
    .text-5 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -30px;
      margin-left: 1650px;
      padding: 5px 20px;
      text-decoration: none;
      color:black;
      font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      background-color:white;
      width: 50px;
      height: 20px;
      border-radius: 10px;
      transform: translate(-50%, -50%);
      overflow: hidden;
      text-align: center;
      }
      
      .text-5 a {
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      }
      
      .text-5 a:hover {
        text-decoration: underline;
      }
    
      .animated-circle-3 {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color:white;
        animation: spin 10s linear infinite;
        background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
        margin-top: -200px;
        float: right;
        margin-right: 155px;
        
        }
         
        
        @keyframes spin {
          0% {
              transform: rotate(0deg);
          }
          100% {
              transform: rotate(360deg);
          }
        }
        
    
       .text-6 {
         display: flex;
         justify-content: center;
         align-items: center;
         margin-left: 1785px;
         margin-top: -31px;
         padding: 5px 20px;
         text-decoration: none;
         color:black;
         font-size: 20px;
         font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
         background-color:white;
         width: 50px;
         height: 20px;
         border-radius:  10px;
         transform: translate(-50%, -50%);
         overflow: hidden;
         text-align: center;
         }
         
         .text-6 a {
           color: black;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
           font-size: 20px;
           font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
         }
         
         .text-6 a:hover {
           text-decoration: underline;
         }
         
    
    
    
    .text-3 { 
    
      white-space: collapse;
      text-wrap: nowrap;
      display: inline-block;
      overflow: hidden; 
      font-style: italic;  
      font-size: 200px;
      font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
     margin-top: 100px;
    
    }
    
    
    @keyframes moveText {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100vw);
      }
    }
    
    
    
    
    /* Footer */
    .footer {
      box-sizing: border-box;
      background:white;
      border: dashed 1.5px;
      color: black;
      border-radius: 50px;
      width: 95%;
      height: 65px;
      margin-top: 10px;
      margin-left: 30px;
    }
    
    .footer-text {
      font-size: 15px;
      font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
      margin-left: 50px;
      margin-top: 17px;
    }


}