.let-talk-page-marquee {
  margin-top: 25vh;
}
.description-text {
  font-size: 80px;
}
.lets-talk {
  color: black;
}

.about {
  color:#3e6c20;
}

.about:hover{
  color:#3e6c20;
  border: 1.5px solid #3e6c20;
}

@media only screen and (max-width: 1024px) {
  .lets-talk {
    font-size: 2rem !important;
  }
  
}


@media only screen and (max-width: 481px) {
.big-marquee-text-1 {
  font-size: 2.5em !important;
}
.icons {
  height: 4 !important;
}
.let-talk-page-marquee {
  margin-top: 25vh !important;
}

}




@media only screen and (max-width: 990px) {
  .lets-talk {
    font-size: 1.3rem !important;
  }
}




