/* General Styles */
.page-border {
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 20px; 
  margin-bottom:20px; 
  margin-left:23px; 
  margin-right:20px;
  height: 1030px;
  width: 1222px;
  }
  
  
  
  body {
    background: url("../Images/dotted paper 2.png") center center fixed;
    background-size: cover;
  }
  
   
  
  .text-2 { 
    white-space: collapse;
    text-wrap: nowrap;
    display: inline-block;
    overflow: hidden;
    animation: moveText 10s linear infinite; 
    font-style: italic; 
    font-style: bold; 
    font-size: 180px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
   margin-top: 200px;
  
  }
  
  .icons-container-1 {
    display: inline-block;
    height: 200px;
    width: 1000px;
    animation: moveText 10s linear infinite;
    margin-top: -250px;
    margin-left: -2600px;
  }
  
  @keyframes moveText {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100vw);
    }
  }
  
  /* Navigation Bar Styles */
  
  .dashed-border {
    position: absolute;
    width: 91%;
    height: 65px;
    margin-left: 35px;
    top: 5%;
    background: white;
    color: black;
    border-radius: 50px;
    border: dashed 1.5px;
  }
  
    
  
  .Nav {
    margin-right: 2%;
    margin-top: 0.6%;
  }
  
  .topnav-item-1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -38px;
    margin-right: 260px;
    border: soild;
  }
  
  .topnav-item-1 a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 25px;
    border: #ff66C4 solid;
  }
  
  .topnav-item-1 a:hover {
    background-color:#0b82e4 ;
    border-radius: 30px;
    border: #fd7223 solid;
    color: white;
  }
  
  .topnav-item-2 {
    display: flex;
    justify-content: flex end;
    align-items: center;
    margin-top: -29px;
    margin-left: 890px;
    border: soild;
  }
  
  .topnav-item-2 a {
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: white;
    border-radius: 30px;
    border:#f8256b solid;
  }
  
  .topnav-item-2 a:hover {
    border-radius: 30px;
    border: #ff66c4 solid;
    color: white;
    background-color:#0b82e4
  }
  
  .logo-small {
    width: 110px;
    height: 62px;
    margin-top: -100px;
    margin-bottom: 3.5px;
    margin-left: 20px; 
    border-radius: 10px;
    border: none;
  }
  
  
  
  
  .Navbut {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 13px;
  }
  
  .Navbut a {
    color: #ffd359;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: black;
    border-radius: 30px;
  }
  
  .Navbut a:hover {
    background-color: black;
    border-radius: 30px;
    color:#fd7223
  }
  
  .Navbut a.active {
    color: black;
    border-radius: 30px;
  }
  


.description {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-right: 440px;
    margin-left: 45px;
    font-size: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: white;
    height: 170px;
}

.thick-line-3 {
  width: 1222px;
  height: 5px;
  margin-top: -210px;
  background-color: black;
}

.thick-line-4 {
  width: 1222px;
  height: 4px;
  margin-top: 240px;
  background-color: black;
}



.animated-circle-1 {
 width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: white;
  animation: spin 10s linear infinite;
  background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
  margin-top: -200px;
 float: right;
 margin-right: 50px;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.text-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1102px;
  margin-top: -130px;
  padding: 5px 20px;
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 50px;
  height: 20px;
  border-radius:  10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  }
  
  .text-4 a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
  .text-4 a:hover {
    text-decoration: underline;
  }
  
  
  
.animated-circle-2 {
width: 140px;
height: 140px;
border-radius: 50%;
background-color: white;
animation: spin 10s linear infinite;
background: linear-gradient(to right, #ff66C4,#ffde59, #ab2ccb, #f8256b, #fd7223, #0b82e4 );
margin-top: -200px;
float: right;
margin-right: 250px;

}
 

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.text-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
  margin-left: 900px;
  padding: 5px 20px;
  text-decoration: none;
  color:black;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  background-color: white;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  }
  
  .text-5 a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  }
  
  .text-5 a:hover {
    text-decoration: underline;
  }



.text-3 { 

  white-space: collapse;
  text-wrap: nowrap;
  display: inline-block;
  overflow: hidden;
  animation: moveText 10s linear infinite; 
  font-style: italic; 
  font-style: bold; 
  font-size: 180px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

}

.icons-container-2 {

  display: inline-block;
  height: 200px;
  width: 1000px;
  animation: moveText 10s linear infinite;
  margin-top: 100px;
  margin-left: -3850px;


}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}



/* Footer */
.footer {
  box-sizing: border-box;
  background: white;
  border: dashed 1.5px;
  color: black;
  border-radius: 50px;
  width: 95%;
  height: 65px;
  margin-top: 25px;
  margin-left: 30px;
}

.footer-text {
  font-size: 15px;
  font-family: "Gill Sans MT";
  margin-left: 50px;
  margin-top: 22px;
}



/* Media Queries */
@media only screen and (max-width: 768px) {
  .page-border,
  .dashed-border,
  .circular-box-1,
  .circular-box-2,
  .circular-box-3,
  .hero-photo,
  .profile-image,
  .about-me-image,
  .case-study-list-item-1,
  .case-study-list-item-2,
  .case-study-list-item-3,
  .case-study-list-item-4,
  .footer {
    width: 90%;
    margin-left: 5%;
  }

  .topnav {
    margin-right: 5%;
  }

}